
/* ========== */
/* All PAGES */
/* ===========*/

body{background-color: ##a7d7ca;
    /* background-color: #88a6a7; */
}

nav{color: black;}


/* ========== */
/* HOME PAGE */
/* ===========*/

.joke-button{
    background-color:#b37084;
     color:white;
}

.jokes{

    background-color: white;
}

    /* ========== */
    /* Forums & gifs */
    /* ===========*/

    nav{margin-right: 5%;}
    .image-gallery,.forum-form, .forum-lbl, .gif-lbl,.gif-form{background-color: white;}
    .forum-header, .gif-header{background-color: #b3cdc6;}

    /*--FORM & HEADER--*/
    .forum-form, .forum-header, .image-gallery, .gif-form, .gif-header{
         padding-left: 15px;
         padding-bottom: 10px;
         margin: 0% 5%;
    }

    .image-gallery{
        padding-top: 20px;
    }

    .forum-header, .gif-header{
        padding-bottom:0px;

    }
    .forum-form, .gif-form{
        margin-bottom: 15px;
    }



    .image{
        border: 1px solid silver;
    }


    .caption{

       margin-top: 0;
       margin-bottom: 5px;
       border-bottom:1px dotted #b37084;
       color:gray;
    }


    .form-btn{
        background-color:#b37084;
        color:white;

    }

    .forum-btn{
        background-color: #b37084;
        color: white;

}
/*=======  */
/* MODALS */
/*========  */


 .login, .create-user{ background-color: #a7d7ca;
     padding-bottom: 70px;
    }
  .modal-header{color:#b37084}

/*=======  */
/* FOOTER  */
/*========  */
    footer{
        background-color: #b3cdc6;
    }
