
/* ========== */
/* All PAGES */
/* ===========*/

body{background-color: #88a6a7;

}

nav{
    color: white;
}

/* ========== */
/* HOME PAGE */
/* ===========*/

    /* *{background-color: #b6ecde;
      background-color: #88a6a7;
    }

    h1{color:black}

    nav{
        color: white;
    }
    button{
        background-color:#bdbace;
        background-color:#b37084;
         color:white;
    }

    .jokes{

        background-color: white;
    } */

    /* ========== */
    /* Forums & gifs */
    /* ===========*/

    .image-create, .forum-header{padding-left: 15px;
         padding-bottom: 15px;
    }

    .image{
        /* background-color:#b37084; */
                /* home color */

        /* background-color:#dfb1b6; */
                /* muted poink */

        background-color:#f6deda;
            /* pinkish */
            
        border: 1px solid thistle;
    }

    /* h3{color:cadetblue;
        color:lightcoral;
        color:firebrick;
        color:#b37084;
    } */
    .caption{
        /* background-color: #b6ecde; */
       margin-top: 0;
       margin-bottom: 5px;
       border-bottom:1px dotted #b37084;
       color:#b37084;
    }

    img{
        /* background-color:#88a6a7; */
        margin-top: 0;
    }

    .image-gallery,h2, form, label{background-color: #b6ecde }


button{
    background-color:#bdbace;
    background-color:#b37084;
     color:white;
}
