
<!-- <form ng-submit=""  class="" > -->
    <h2>Need More Pick-Me-Ups?</h2>

<form ng-submit="ctrl.changeQuery()" class="">
    Find New Laughs:<input  ng-model="ctrl.newQuery"  type="text" name=""  placeholder="Search for Funnies" >

    How Many Laughs Are You In Need Of? <input ng-model="ctrl.newLimit" type="text" name="" placeholder="Hit Me With Your Best Shot (24)"><br/>

    <button type="submit" name="button">+</button>
</form>

->
<div  ng-repeat="gif in ctrl.gifys" class="image">
    <div  class="image"
            style="
            height:250px;
            width:275px;
            backgroud-repeat:no-repeat;
            background-size: 100% 100%;
            background-image:url('{{gif.images.preview_webp.url}}');"
    >

    </div>
</div>
