<!--==== NAV=== -->
<ul class="nav-ul">
  <li class="nav-li" ng-click="ctrl.changeInclude('jokes')" >Home</li>
  <li class="pipe">|</li>
  <!-- <li ng-click="ctrl.changeInclude('jokes')">Joke Generator</li> -->
  <li class="nav-li" ng-click="ctrl.changeInclude('forum')">Forum</li>
  <li class="pipe">|</li>
  <li class="nav-li" ng-click="ctrl.changeInclude('gifs')">Laugh-While-You-Cry Images</li>
  <li class="pipe" ng-if="ctrl.showLogIn">|</li>
  <li class="nav-li" ng-if="ctrl.showLogIn" ng-click="ctrl.changeInclude('login')">Login</li>
  <li class="pipe" ng-if="ctrl.showRegister">|</li>
  <li class="nav-li" ng-if="ctrl.showRegister" ng-click="ctrl.changeInclude('register')">Register</li>
  <!-- <li ng-if="ctrl.showLogOut" ng-click="ctrl.changeInclude('logout')">Logout</li> -->
  <!-- don't need a separate page for logout, moving deleteSession to nav -->
  <li class="pipe" ng-if="ctrl.showLogOut">|</li>
  <li class="nav-li" ng-if="ctrl.showLogOut" ng-click="ctrl.deleteSession()">Logout</li>
</ul>


<!-- h5 href="/">Home</a>
<a href="/jokes">Joke Generator</a>
<a href="/forums">CodeBreak Forum</a>
<a href="/laughwhileyoucry">Laugh While You Cry Image</a>
<a href="/login">LogIn</a>
<a href="/register">Register</a>
<a href="/logout">LogOut</a>
<a href="/all">TEST ALL</a> -->
