<!--==== NAV=== -->
<h5 ng-click="ctrl.changeInclude('')" >Home</h5>
<h5 ng-click="ctrl.changeInclude('jokes')">Joke Generator</h5>
<h5 ng-click="ctrl.changeInclude('forum')">CodeBreak Forum</h5>
<h5 ng-click="ctrl.changeInclude('laughwhileyoucry')">Laugh While You Cry Image</h5>
<h5 ng-click="ctrl.changeInclude('login')">LogIn</h5>
<h5 ng-click="ctrl.changeInclude('register')">Register</h5>
<h5 ng-click="ctrl.changeInclude('logout')">LogOut</h5>
<h5>TEST ALL</h5>

<!-- h5 href="/">Home</a>
<a href="/jokes">Joke Generator</a>
<a href="/forums">CodeBreak Forum</a>
<a href="/laughwhileyoucry">Laugh While You Cry Image</a>
<a href="/login">LogIn</a>
<a href="/register">Register</a>
<a href="/logout">LogOut</a>
<a href="/all">TEST ALL</a> -->
